@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;700&display=swap');

:root {

  font-family: 'Aleo', serif;
  font-weight: 700;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

@media (min-width: 768px) {
  .row > * {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

.price-container {
  display: flex;
  align-items: baseline;
}

.subindex {
  margin-left: 5px;
  style="font-family: 'Aleo', serif; 
  font-weight: 300;"
}
